* {
    margin: 0;
    padding: 0;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
    
    }
    

#SW-logo {
    float:right;
    padding-right: 250px;
    padding-top: 5px;
    font-size:40px;
    color: white;

}
.card {
    float:right;
 }
 
.card-rey-img{
    width:36%;
    height:106px;

}

.card-yoda-img{
    width:36%;
    height:106px;

}
.card-duku-img {
    width:40%;
    height:106px;

}
.card-gen-img {
    width:40%;
    height:106px;

}

.row {
    margin:2px;
}

body {
    margin: 0;
    background-image: url("../images/star-wars.png");
    background-repeat: repeat;
    width: 100%;
    height: 100%;
   

}
.enemyselect {
    color: white;
    font-size:150%;
}
.defendselect {
    color: white;
    font-size:150%;
}
.yourCharacter {
    color: white;
    font-size:150%;
}



