* {
    margin: 0;
    padding: 0;
}

.clearfix:after{
    content: '';
    display: block;
    clear: both;
  }
  

.crystals_head{
    padding-left: 40%;
    padding-top: 2%;
}
   

#rulebox {
    background-color: pink;
    width: 300px;
    border: 2px solid green;
    padding: 25px;
    margin: 25px;

}
#random_number{
    background-color: pink;
    width: 300px;
    border: 2px solid green;
    padding: 25px;
    margin: 25px;


}
#wins_losses {
    background-color: pink;
    width: 300px;
    border: 2px solid green;
    padding: 25px;
    margin: 25px;
    
}


#space {
    background-color: pink;
    width: 300px;
    border: 2px solid green;
    padding: 25px;
    margin: 25px;

}

#score {
    background-color: pink;
    width: 300px;
    border: 2px solid green;
    padding: 25px;
    margin: 25px;

}

#space {
    background-color: pink;
    width: 300px;
    border: 2px solid green;
    padding: 25px;
    margin: 25px;

}

.jewel{
    height: 100px;
     width: 100px;
     
}

#gem_photo1{
    width: 10%;
    height: 10%;
    border: 2px solid grey;
    
}
#gem_photo2{
    width: 10%;
    height: 10%;
    border: 2px solid grey;
    
}
#gem_photo3{
    width: 10%;
    height: 10%;
    border: 2px solid grey;
    
}
#gem_photo4{
    width: 10%;
    height: 10%;
    border: 2px solid grey;
    
}

#gemBox {
    float:left;
}


